.list {
    width: 50%;
    margin: auto;
    border: 1px solid rgba(0,0,0,0.3);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    min-height: 40vh;
    padding: 2rem 4rem;
}

.list h2 {
    font-size: 1.3rem;
    margin: 0px;
}

.list p {
    margin-bottom: 1rem;
}

@media screen and (max-width: 768px) {
    .list {
        width: 75%;
        padding: 1rem 2rem;
    }
}

@media screen and (max-width: 425px) {
    .list {
        width: 90%;
    }
}

.buttons {
    display: grid;
}

@media screen and (max-width: 500px){
    .buttons {
        display: block;
    }

    .btn {
        margin: 0.2rem;
        display: block;
        width: 100%;
    }
}

@media screen and (max-width: 768px){
    .buttons {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .btn {
        margin: 0.2rem;
    }
}